body {
    background: #ebebeb;
    width: 80%;
    height: 1000px;
    /* Lägg webbsidan i mitten */
    margin: 0 auto;
   
    
    /* Ram på body */
    border-width: 1px;
    border-style: solid;
    border-color: #7c7c7c;
    
    /* Avstånd till innehåll */
    padding: 20px;
    font-family: arial, sans-serif; /* Byta typsnitt */
}

/* Typografi */

h1 {
      color:#220581;      /* Ändra färg på texten*/
      font-weight: 100;  /* Göra texten smalare */
      font-family: "Brush Script MT", cursive;  /* Byta typsnitt */
      font-size: 34px;  /* Ändra storleken på texten */
}
h3 {
    color: green;
}

p {
    
    font-size: 14px; /* Ändra storleken på texten */
    line-height: 150%;/* Ändra radavståndet */
}

/* Länkar */
a {
    color:red;
}

img.floatbild {
    float:right;
    width: 200px;
}













